<hibernate-configuration xmlns="http://www.hibernate.org/xsd/orm/cfg">
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL8Dialect</property>
        <property name="connection.url">jdbc:mysql://127.0.0.1/inheritance?serverTimezone=UTC</property>
        <property name="connection.driver.class">com.mysql.cj.jdbc.Driver</property>
        <property name="connection.username">root</property>
        <property name="connection.password">12345</property>
        <property name="show_sql">true</property>
        <property name="format_sql">true</property>
        <property name="hbm2ddl.auto">create-drop</property>

        <mapping class="core.basesyntax.model.zoo.Animal"/>
        <mapping class="core.basesyntax.model.zoo.Cat"/>
        <mapping class="core.basesyntax.model.zoo.Dog"/>

        <mapping class="core.basesyntax.model.machine.Machine"/>
        <mapping class="core.basesyntax.model.machine.Car"/>
        <mapping class="core.basesyntax.model.machine.Truck"/>

        <mapping class="core.basesyntax.model.ma.Coach"/>
        <mapping class="core.basesyntax.model.ma.Person"/>
        <mapping class="core.basesyntax.model.ma.Mentor"/>

        <mapping class="core.basesyntax.model.figure.Circle"/>
        <mapping class="core.basesyntax.model.figure.Triangle"/>

    </session-factory>
</hibernate-configuration>