<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <!-- Database connection settings -->
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/postgres</property>
        <property name="hibernate.connection.username">postgres</property>
        <property name="hibernate.connection.password">postgres</property>
        <property name="hibernate.hbm2ddl.auto">create-drop</property>
        <!-- JDBC connection pool (use the built-in) -->
        <property name="hibernate.connection.pool_size">10</property>
        <!-- Echo all executed SQL to stdout -->
        <property name="show_sql">true</property>
        <mapping class="core.basesyntax.model.figure.Circle" />
        <mapping class="core.basesyntax.model.figure.Figure" />
        <mapping class="core.basesyntax.model.figure.Triangle" />
        <mapping class="core.basesyntax.model.machine.Machine" />
        <mapping class="core.basesyntax.model.machine.Car" />
        <mapping class="core.basesyntax.model.machine.Truck" />
        <mapping class="core.basesyntax.model.zoo.Animal" />
        <mapping class="core.basesyntax.model.zoo.Cat" />
        <mapping class="core.basesyntax.model.zoo.Dog" />
        <mapping class="core.basesyntax.model.ma.Coach" />
        <mapping class="core.basesyntax.model.ma.Mentor" />
        <mapping class="core.basesyntax.model.ma.Person" />
    </session-factory>
</hibernate-configuration>
